<fieldset>
    <div style="text-align:center">
        
        <h2>Tabela de Livros</h2>
        
        <table>
                <thead>
                    <tr>
                        <th> Titulo </th>
                        <th> Data </th>
                        <th> Autor </th>
                        <th> Categoria </th>
                        <th colspan="2"> Açoes </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let l of livros">
                        <td>{{l.titulo}}</td>
                        <td>{{l.data}</td>
                        <td>{{l.autor.nome}}</td>
                        <td>{{l.categoria.descricao}}</td>
                        <td><button (click)="excluir(l.id)">Excluir</button></td>
                        <td><button [routerLink]="['/livro/listar', l.id]"class="btn btn-outline-success">Alterar</button></td>
                    </tr>
                </tbody>
        </table>
        
        
        
    </div>
</fieldset>