<h3>Cadastro </h3>
  <fieldset>
  <div>
    Nome: <input type="text"/><br>
    CPF: <input type="text"/><br>
    email: <input type="text"/><br>
    CEP<input type="text"/><br>
  </div>
</fieldset>
<fieldset>

  <div>
    Logadouro:<input type="text" [(ngModel)]="logadouro"/><br>
    Numero:<input type="text"/><br>
    Complemento:<input type="text"/><br>
    Bairro:<input type="text"/><br>
    Cidade:<input type="text"/><br>
    UF:<input type="text"/><br>
  </div>
  <button (click)="salvar">Salvar</button>

</fieldset>



